
.btn {
  margin-right: 15px;
  margin-top: 5px;
}

.form-group, h2, h1 {
  max-width: 500px;
  margin-left: 20px;
  padding-top: 10px;
}

.gerenciar {
  margin-left: 45px;
}

input, label {
  display: block;
}

.actions {
  width: 10%;
  margin: auto;
  padding: 10px;
}

.fixed_headers {
  margin:auto;
  width: 900px;
  table-layout: fixed;
  border-collapse: collapse;
  th {
    text-decoration: underline;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }

  td:nth-child(1), th:nth-child(1) { min-width: 200px }
  td:nth-child(2), th:nth-child(2) { min-width: 350px; }
  td:nth-child(3), th:nth-child(3) { width: 350px; }

  thead {
    background-color: #333;
    color: #FDFDFD;
    tr {
      display: block;
      position: relative;
    }
  }

  tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 300px;
    tr:nth-child(even) {
      background-color: #DDD;
    }
  }
}
